services:
  postgres:
    image: postgres:latest
    container_name: photo_db
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
    driver: local
