--
-- PostgreSQL database dump
--

\restrict MSRDa21Uq78dRJarSeJJ1MEkpBkQcFSTbtRebYcrKwRlHXEu9ZKwo941z6uQlUK

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Comment" (
    id integer NOT NULL,
    "photoId" integer NOT NULL,
    "authorId" integer NOT NULL,
    body text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comment" OWNER TO postgres;

--
-- Name: Comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Comment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Comment_id_seq" OWNER TO postgres;

--
-- Name: Comment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Comment_id_seq" OWNED BY public."Comment".id;


--
-- Name: Photo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Photo" (
    id integer NOT NULL,
    "photoshootId" integer NOT NULL,
    filename text NOT NULL,
    caption text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Photo" OWNER TO postgres;

--
-- Name: Photo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Photo_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Photo_id_seq" OWNER TO postgres;

--
-- Name: Photo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Photo_id_seq" OWNED BY public."Photo".id;


--
-- Name: Photoshoot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Photoshoot" (
    id integer NOT NULL,
    title character varying(50) NOT NULL,
    description text,
    date timestamp(3) without time zone,
    "ownerId" integer,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Photoshoot" OWNER TO postgres;

--
-- Name: Photoshoot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Photoshoot_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Photoshoot_id_seq" OWNER TO postgres;

--
-- Name: Photoshoot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Photoshoot_id_seq" OWNED BY public."Photoshoot".id;


--
-- Name: Comment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment" ALTER COLUMN id SET DEFAULT nextval('public."Comment_id_seq"'::regclass);


--
-- Name: Photo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo" ALTER COLUMN id SET DEFAULT nextval('public."Photo_id_seq"'::regclass);


--
-- Name: Photoshoot id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photoshoot" ALTER COLUMN id SET DEFAULT nextval('public."Photoshoot_id_seq"'::regclass);


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Comment" (id, "photoId", "authorId", body, created_at) FROM stdin;
2	4	1	Lovely colors! SYKE	2025-10-05 14:32:19.068
\.


--
-- Data for Name: Photo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Photo" (id, "photoshootId", filename, caption, created_at) FROM stdin;
4	3	sunset-1.jpg	Golden hour over the waves	2025-10-05 14:32:19.039
5	3	sunset-2.jpg	Silhouette on the sand	2025-10-05 14:32:19.055
\.


--
-- Data for Name: Photoshoot; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Photoshoot" (id, title, description, date, "ownerId", created_at, updated_at) FROM stdin;
3	Autumn Photoshoot	A relaxed sunset photoshoot on the beach	2025-10-05 14:32:18.991	\N	2025-10-05 14:32:19.018	2025-10-05 20:08:43.827
15	Summer Photoshoot	Outdoor session with client for summer portfolio update.	2025-07-14 10:00:00	1	2025-10-06 11:28:09.711	2025-10-06 11:28:09.711
\.


--
-- Name: Comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Comment_id_seq"', 6, true);


--
-- Name: Photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Photo_id_seq"', 16, true);


--
-- Name: Photoshoot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Photoshoot_id_seq"', 15, true);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: Photo Photo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo"
    ADD CONSTRAINT "Photo_pkey" PRIMARY KEY (id);


--
-- Name: Photoshoot Photoshoot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photoshoot"
    ADD CONSTRAINT "Photoshoot_pkey" PRIMARY KEY (id);


--
-- Name: Comment_photoId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Comment_photoId_idx" ON public."Comment" USING btree ("photoId");


--
-- Name: Photo_photoshootId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Photo_photoshootId_idx" ON public."Photo" USING btree ("photoshootId");


--
-- Name: Photoshoot_title_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Photoshoot_title_key" ON public."Photoshoot" USING btree (title);


--
-- Name: Comment Comment_photoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_photoId_fkey" FOREIGN KEY ("photoId") REFERENCES public."Photo"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Photo Photo_photoshootId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo"
    ADD CONSTRAINT "Photo_photoshootId_fkey" FOREIGN KEY ("photoshootId") REFERENCES public."Photoshoot"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict MSRDa21Uq78dRJarSeJJ1MEkpBkQcFSTbtRebYcrKwRlHXEu9ZKwo941z6uQlUK

